@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
*::-webkit-scrollbar{
    display: none;
}
body{
    margin: 0;
    background-color: #000;
 
}
h1{
    cursor: default;
}
/* ###############NAV-BAR################### */
.navbar ul{
    list-style-type:none ;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
   
    color: #e6be8a;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
   

}
.navbar li{
    float: right;
    font-size: 125%;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5%);
}

.nav-bar{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #000;
}
.Name{
    letter-spacing: 25%;
    align-items: end;
    font-family: "Quattrocento"+"Alice", serif;
    font-weight: 700;
    font-style: normal;
    color: #a9927d;
    font-size: 180%;

}
.logoimg{
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: 1%;
}
.cname{
    margin-left: 15%;
}
.logo1{
    width: 15%;
    margin-left: 15%;
}
.navbar a:hover{
    color: azure;
    background-color:#a9927d93  ;
    transition: 1s;
    border-radius: 50%;
}
.navbar a:hover:after{
    width:100%;
}
.logoimg:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.shoppingcart{
    position: relative;
    padding-bottom: 5%;
}
.cartnumber{
    font-size: 125%;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 22%;
    width: 1.5%;
    color:aliceblue;
    position: absolute;
    top: 50%;
    right:9.8%;
}
/* #########################BANNER############################# */
.m1{
    width: 100%;
    height: 2%;
    clear: both;
}
.m2{
    width: 100%;
    height: 1vw;
    clear: both;
}
.banner{
        width: 100%;
        height: 60%;
        display: grid;
        place-items: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .imgslider{
        width: 100%;
        height: 60vh;
        background-image: url(italianban1.jpg);
        position:relative;

        top: 0;
        background-size: 100% 100%;
        animation: changeImage 10s linear infinite;
        opacity: 0.7;
    }
    @keyframes changeImage {
        0%{
            background-image: url(italianban1.jpg);
        }
        50%{
            background-image: url(italianban2.jpg);
        }
        75%{
            background-image: url(italianban3.jpg);
        }
        100%{
            background-image: url(italianban4.jpg);
        }
    }

    .bantitle{
        color: #e6be8a;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-180%);
    }
    .bantitle h1{
        padding: 0;
        margin: 0;
        font-size: 100px;
        text-align: center;
        color: #e6be8a;
        font-weight: bold;
        text-shadow: -10px 2px 5px #3a3834 ;
        font-family: "Quattrocento"+"Alice", serif;
        font-weight: 700;
        font-style: normal;
    }
    .bantitle h2{
        font-size: 30px;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        text-shadow: -5px 1px 3px #3a3834 ;
    }
.toptitle{
    color: #e6be8a;
    align-items: center;
    text-align: center;
    font-size: 28px;
    width: 15%;
    margin-left: 43%;
    border-radius: 50%;
}
/* ################################DISHES######################### */
a{
    text-decoration: none;
}
.menu{
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.m1{
    width: 100%;
    height: 5vw;
    clear: both;
}
.menus{
    border-radius: 50px;
    padding: 0;
    border: 0;
    margin: 1.5%;
    width: 22%;
    height: 25vw;
    background-size: 100% 100%;
    float: left; 
    filter: blur(1.25px);
}
.lemonjuice{
    background-image: url(margherita\ pizza.png);
    position: relative;

}
.sodalemonjuice{
    background-image: url(single\ topping\ pizza.jpg);
    position: relative;
}
.icetea{
    background-image: url(veggiepizza.png);
    position: relative;
}
.virginmojito{
    background-image: url(doublecheesepizza.png);
    position: relative;
}
.virginmargarita{
    background-image: url(paneeronionpizza.png);
    position: relative;
}
.virginpinacolada{
    background-image: url(veggiedelightpizza.png);
    position: relative;
}
.xonthebeach{
    background-image: url(paneer\ onion\ pizza.png);
    position: relative;
}
.virginbloodymary{
    background-image: url(sidzspecialpizza.png);
    position: relative;
}
.menuname{
    border-radius: 50px;
    width: 100%;
    height: 25vw;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
    vertical-align: middle;
    background-color: #00000088;
}
.menutitle{
    margin: 0;
    padding: 0;
    color: #e6be8a;
    font-weight: 900;
    font-size: 44px;
    width: 100%;
    height: 25vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0); 
}
.menus:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: 1.5s;
    filter: blur(0);
    .menuname{
        /* filter: blur(0); */
        height: 20vw;
        transition: 1s;
        
        .menutitle{
            align-items:start;
            color: aliceblue;
            height: 20vw;
            transition: 1s;
            top: 5px;
            bottom: 0;
            transform: translateY(0%) translateY(0%);
        }
        .addcart{
            visibility:visible;
        }
        .dishprice{
            cursor: pointer;
            color: aliceblue;
            font-family: "Lora", serif;
            font-optical-sizing: auto;
            visibility: visible;
        }
    }
}
.addcart:hover{
    cursor: pointer;
    color: aliceblue;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    background-color: #a9927d93;
    transition: 1s;
}
.addcart{
    background-color: #a9927dac;
    color: #e6be8a;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    height: 3vw;
    position: absolute;
    top: 50%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    transform: translateY(200%) translateX(0%);
    margin: 0;
    padding: 0;
    visibility: hidden;
    border-radius: 30px;
}
.dishprice{
    list-style-type: none;
    font-weight: 400;
    font-size: 35px;
    width: 100%;
    height: 3vw;
    position: absolute;
    top: 50%;
    transform: translateY(-30%) ;
    text-align: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
h1{
    border: 0;
    padding: 0;
    margin: 0;
}
/* ########################################SHOPPING CART#################### */

.cartTab{
    z-index: 1;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    width: 400px;
    background-color: #00000098;
    color: #e6be8a;
    position: fixed;
    inset: 12% 0 6% auto;
    /* transform: translateX(0) translateY(0); */
    display: grid;
    grid-template-rows:  30px 60px 1fr 70px;
    transition: 0.5s;
    
}
body.showcart .cartTab{
    inset: 12% -400px 6% auto;
}
.cartTab h1{
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}
.cartTab .shoppingcartbtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .shoppingcartbtn button{
    background-color: #e6be8ae9;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .shoppingcartbtn .close{
    background-color: #a9927dea;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 150px 1fr  150px;
    font-size: 25px;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.quantity{
    font-size: 30px;
}
.listCart .quantity span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #a9927dc5;
    border-radius: 50%; 
    cursor:pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    /* color: #eee; */
}
.listCart .item:nth-child(even){
    background-color: #3a3834;
}
.listCart{
    overflow: auto;
}
/* ##############footer################## */
.footer{
    position: absolute;
    clear: both;
    color:#e6be8a;
    height: 300px;
    width: 100%;
    float: bottom;
    font-size: larger;
    border: 10px;
    background-color: #0b110e00;
}
.footer h1{
    padding-top: 40px;
    padding-left: 27%;
} 
.footer img{
    float: left;
    margin-top: -5px;
    margin-left: 5%;
}
.footer img:hover{
    background-color:#a9927dfb ;
    transition: 1.5s;
    border-radius: 100%;
    transform: scale(1.1);
}
.a1{
    /* text-align: center; */
    margin-top: 30px;
    
    margin-left: 24.5%
}
.map{
    float:right;
    border-radius: 5%;
    transform: translateX(-40%) translateY(-15%);
    filter:brightness(80%);
}
/* #############STICKY FOOTER################### */
.stickyfooter{
    clear: both;
    background-color: #000000;
    height: 60px;
    position: sticky;
    bottom: 0;
}
.footd{
    width:25%;
    margin-top: 4px;
    float: left;
    align-items: center;
    padding-top: 14px;
}
.footd img{
    margin-left: 43%;
    padding-bottom: 7px;
}
.footer1{
    align-items: center;
    width: 50%;
    height: 296px;
    float: left;
}

.footd:hover{
    background-color:#a9927d93 ;
    transition: 1s;
    border-radius: 50%;
    border-color:ghostwhite;
}
.footd img:hover{
    transition: 1.5s;
    transform: scale(1.3);
}
.footd img:hover:after{
    transform: 1s;
}